body {
    max-width: 800px;
    padding: 5px;
    font-family: 'Merriweather', serif;
}

.site-title {
    margin-bottom: 0px;
}

.site-title a:hover {
    text-decoration: none;
    border: 0px;
    font-style: italic;
}

.site-header .meta {
    margin-top: 0px;
}

.site-main {
    max-width: 684px;
    margin: auto;
}

.meta {
    color: #3d3d3d;
}

.post .post-title {
    margin-bottom: 0px;
}

.post .meta {
    margin-top: 0px;
}
